@import "bootstrap/scss/bootstrap"; // Import de Bootstrap en SCSS

body {
  background: white;  /* fallback for old browsers */
    font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

